.app-mhs-input {
    * {
        display: block;
    }

    .job-container {
        padding-top: 30px;
        max-height: calc(100vh - 300px);
        overflow: auto;
    }

    .job-card {
        div { 
            padding: 10px;
        }
        margin: 30px; 
        height: 200px;
        background-color: white;
        position: relative;
    }

}
p.content {
    padding: 20px;
}

.information-form {
    text-align: center;
    background: #fff;
    position: absolute;
    width: calc(100vw - 350px);
    padding: 30px;
    .input-section {
       text-align: left;
       input {
           position: absolute;
           right: 30vw;
       }
       margin-bottom: 30px;
    }
    button {
        margin: 0 auto;
    }
}