.register-mhs-root {
				display: flex;
				flex-direction: column;
				align-items: center;

				h1 {
								margin: 50px;
				}

				.form-container {	
								
								display: flex;
								flex-direction: column;
								width: 500px;
								padding: 30px;
								background-color: white;
								text-align: center;
								align-items: center;
								* {
												text-align: center;
												margin-bottom: 30px;
								}

								input {
												width: 400px;
								}
				}
}
