.app-eval-home  {
    margin-top: 30px;
    width: calc(100vw - 350px);
    .m-t {
	    padding: 30px 0;
    }
    .input-container {
        background-color: #ccc;
        width: inherit;
        text-align: center;
        button {
            background-color: #A5D6A7;
            border: none;
            box-shadow: #333 3px 3px 10px;
            margin: 30px auto;
        }
    }

    .i-c {
       background-color: white;
       padding: 10px; 
        width: 100%;
        .i-c-s {
            .i-c-s-t {
                border-bottom: solid #333 2px;
                margin-bottom: 10px;
            }
            strong {
                display: block;
            }
        }
    }

    * {
   }
}