.welcome {
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
    width: 700px;
}

.login-container {
    width: 350px;
    background-color: #fff;
    padding: 25px;
    margin: 10vh auto;
    text-align: center;
    
    input {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 300px;
    }
    * {
        display: block;
        margin-bottom: 10px;
    }

    a { 
        font-weight: 700px;
        color: #999;
    }
}

.btn {
    width: 300px;
}