.app-evaluator-input {
	margin-top: 30px;
	background-color: white;
	max-height: calc(100vh - 200px);
	overflow-y: auto;
	width: 30vw;
	table {
		td {
			border: none;
		}
		th {
			background-color: #219653;
			color: white;
		}

		td:first-child {
			padding-left: 30px;
		}
	}

	div {
		margin-bottom: 30px;
	}

}