.app-mhs-jobs {

	.jobs-container {
		max-height: calc(100vh - 300px);
		overflow-y: auto;
	}

	.job-item {
		padding: 20px;
		font-size: 20px;
		background-color: white;
		margin: 15px 0;
		box-shadow: 3px 3px 3px #000000ff;
		td:first-child {
			font-weight: 700;
			padding-right: 30px;
		}
	}

	button {
		margin-top: 50px;
		margin: 0 auto;
		display: block;
	}
}