.app-mhs-sidebar {
    color: #fff;
    width: 300px;
    background-color: #555;
    height: 100vh;
    margin-right: 20px;
    i {
        font-size: 50px;
        display: inline;
    }

    .app-mhs-profile { 
        * {
            display: inline-block;
        }
        padding: 30px;
        border-bottom: solid 1px rgba(255, 255, 255, 0.3);

        button {
            width: 200px;
            background-color: #99cc99;
        }
    }


    .nav-list {

        div {
            a {
                color: #fff;
            }
            padding: 30px 30px;
            width: 50px;
            width: 300px;
            border-bottom: solid 1px rgba(255, 255, 255, 0.3);
        }
    }

}