.Card {
    margin: 20px;
    width: 250px;
    text-align: center;
    box-shadow:5px 5px 10px rgba($color: #000000, $alpha: 0.5);
    .icon {
        width: 100%;
        background-color: #fff;
        font-size: 70px;
        i {
            color: rgba(47, 173, 64, 0.603);
            margin: 60px 0;
        }
    }
    .desc {
        padding: 30px;
        background-color: #ccc;
        h5 {
            font-weight: 600;
        }
    }
}