.table-container {
    background-color: white;
    border: solid #219653 1px;
    
    nav {
        margin-left: 500px;
    }
    table {
        tr {
            text-align: left;
            &:nth-child(2) {
                td {
                    padding-top: 30px;
                }
            }
    
            th {
                color: white;
                background-color: #219653;
                padding: 10px 50px;
                width: 100vw;
            }
    
            td {
                padding-left: 20px;
                padding-right: 40px;
            }
    
            td {
                font-size: 25px;
                padding-bottom: 30px;
            }
        }
    }
    
}

div.content {
    .section {
        padding: 10px;
        strong {
            display: block;
            
        }
        .subsection-container {
            display: flex;
            .subsection {
                margin-right: 30px;
            }
        }
    }
}