.app-mhs-root {
    display: flex;
    .content {
        margin: 30px auto;
        h2 {
            width: calc(100vw - 350px);
            color: white;
            padding: 30px;
            border-radius: 10px;
            box-shadow:5px 5px 10px rgba($color: #000000, $alpha: 0.5);
                background-color: #219653;
        }
    }
}